* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* 1st segment */

.text-area {
    width: 90%;
    top: 50%;
    left: 50%;
    color: #023e8a;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}

.text-area h1 {
    font-size: 62px;
}

.text-area p {
    margin: 10px 0 40px;
    font-size: 25px;
}

.GSB {
    display: inline-block;
    text-decoration: none;
    color: #023e8a;
    padding: 12px 34px;
    border: 2px solid #023e8a;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: border-color 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.GSB:hover {
    border-color: #023e8a;
    background-color: #023e8a;
    color: #90E0EF;
    box-shadow: 0 0.5em 0.5em -0.4em #023e8a;
    transform: translateY(-0.25em);
    cursor: pointer;

}

/* 2nd segment */

.service {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00B4D8;
}

.serv {
    display: flex;
    position: relative;
    flex-direction: column;
}

.service img {
    padding: 25px;
}

.service h2 {
    padding: 25px;
    font-size: 34px;
    color: white;
    text-align: center;
}

.serv span {
    font-family: 'Orbitron', sans-serif;
    font-size: 44px;
}

.serv a {
    margin-top: 30px;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 12px 14px;
    border: 2px solid white;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: border-color 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.serv a:hover {
    border-color: #023e8a;
    background-color: #023e8a;
    color: #00B4D8;
    box-shadow: 0 0.5em 0.5em -0.4em #023e8a;
    transform: translateY(-0.25em);
    cursor: pointer;
}

@media(max-width: 700px) {

    .service {
        flex-direction: column;
    }

    .service img {
        width: 500px;
    }

    .SB {
        margin-bottom: 15px;
    }

}

/* 3rd segment */

.third {
    background-color: #CAF0F8;
}

.about {
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 50px;
    color: #023e8a;
}

.about h2 {
    padding: 25px;
    font-size: 34px;
}

.about p {
    font-size: 20px;
    margin-bottom: 35px;
}

.ab-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.ab-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.ab-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: 0.5s;
}

.layer:hover {
    background-color: #48CAE4;
    opacity: 0.77;
}

.layer h3 {
    width: 100%;
    font-weight: 400;
    color: #023e8a;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    opacity: 1;
    bottom: 49%;
}

@media(max-width: 700px) {

    .ab-row {
        flex-direction: column;
    }

}

