<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/CSS/base.css">
    <link rel="stylesheet" href="../static/CSS/about_us.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="../static/Img/CustyChampPro.png" type="image/icon type">
</head>

<body>
    <section class="header">
        <nav>
            <a href="home.html"><img src="../static/Img/CustyChampPro.png"></a>
            <a id="CC" href="home.html">CUSTY CHAMP</a>
            <div class="nav-links" id="NL">
                <i class="fa fa-times-circle" onclick="hideMenu()"></i>
                <ul>
                    <li>
                        <a href="home.html">HOME</a>
                    </li>
                    <li>
                        <a href="services.html">SERVICES</a>
                    </li>
                    <li>
                        <a href="about_us.html">ABOUT US</a>
                    </li>
                    <li>
                        <a href="#footer">CONTACT US</a>
                    </li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <section class="text-matter">
            <h1>
                About us:
            </h1>
            <h2>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi facilis fuga ducimus neque, eveniet
                quaerat ab aperiam odio possimus dolorem, qui voluptatem dicta. Qui iste adipisci magnam molestiae ab
                doloremque?
                Voluptatum distinctio placeat magnam doloribus. Rem porro unde aliquam enim fuga, dolorem vero, sapiente
                commodi dolor eligendi dignissimos. Veritatis, pariatur laudantium? Sequi saepe eaque quisquam accusamus
                commodi eum harum dolorum.
                <br><br>
                At iste cupiditate perferendis esse sint suscipit veritatis numquam delectus commodi veniam fuga laborum
                sit ipsum, voluptatum amet deleniti illo deserunt modi earum hic adipisci dolorem eaque ducimus!
                Veritatis, ex!
                Modi laudantium facere doloribus magni? Velit reiciendis ipsam labore voluptas dicta? Expedita, eligendi
                quisquam. Laudantium libero, accusantium nisi, eos consectetur consequuntur inventore ullam, cupiditate
                doloribus modi eaque recusandae. Optio, asperiores!
                Dignissimos laudantium aperiam labore officia veritatis. Voluptas ipsa culpa, necessitatibus tempora
                rerum id autem dolor obcaecati saepe. Eum dolores sapiente laborum maiores. Incidunt, nemo temporibus
                cum quos quaerat ipsa id!
                <br><br>
                Autem dolorem libero rerum! Minima, dolor deleniti nesciunt ullam expedita praesentium quibusdam
                reprehenderit saepe enim odio ipsa perferendis libero natus esse nobis, consequuntur sunt maiores
                necessitatibus non iure voluptatem et!
                Earum ut sit asperiores ipsum provident aperiam minima quis minus, modi animi numquam temporibus,
                delectus omnis ad, neque reiciendis ratione! Veritatis repellendus atque optio fuga nulla maxime ab
                voluptatem quasi.
                <br><br>
                Earum et eos voluptatibus sunt accusamus cupiditate, quaerat quis quas aliquid quidem repellendus! Quia,
                ad et? Laboriosam, nisi a amet recusandae facere, sed tenetur incidunt veritatis voluptatem perferendis
                eum repellat.
            </h2>
        </section>

        <div class="third">
            <section class="about">
                <h2>
                    CUSTY CHAMP developers:
                </h2>
                <p>
                    The three of us have put our heart and soul in building and developing this project.
                </p>
                <div class="ab-row">
                    <div class="ab-col">
                        <img src="../static/Img/C_AK1.png">
                        <div class="layer">
                            <h3>
                                <a href="https://www.linkedin.com/in/anuj-kinge-478671191">
                                    ANUJ KINGE
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="ab-col">
                        <img src="../static/Img/C_PB1.png">
                        <div class="layer">
                            <h3>
                                <a href="https://www.linkedin.com/in/hrithikpb">
                                    HRITHIK P. B.
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="ab-col">
                        <img src="../static/Img/C_YO1.png">
                        <div class="layer">
                            <h3>
                                <a href="https://www.linkedin.com/in/yashoswal26">
                                    YASH OSWAL
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section id="footer">
            <h4>
                Contact us:
            </h4>
            <p>
                customeranalytics@gmail.com
            </p>
            <p>
                Made with <i class="fa fa-heart"></i> by CUSTY CHAMP developers.
            </p>
            <p>
                All rights reserved. © 2022 CUSTY ANALYTICS.
            </p>
        </section>

        <script>
            var NavL = document.getElementById("NL");
            function showMenu() {
                NavL.style.right = '0';
            }
            function hideMenu() {
                NavL.style.right = '-200px';
            }
        </script>
</body>

</html>