<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1> Invoice Search </h1>

        Date - {{l[0]}}
        Invoice number - {{l[1]}} 
        Total Amount -  {{l[2]}}

        <table>
                {% for i in table1 %}
                {{title1[0]}}
                {{i | safe}}
                {% endfor %}
        </table>
<br>
<br>



</body>
</html>