<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1> PRODUCT SALES </h1>

        Product name: {{product_name}} <br>
        Price: {{product_price}}  <br>

        Sales of {{product_name}} per day:
        <div id='graph1'>{{graph1|safe}}</div>

 
        Highest Sale (Date)
        <table>
            {% for i in table1 %}
            {{i | safe}}
            {% endfor %}
        </table>

        Lowest Sale (Date)
        <table>
            {% for i in table2 %}
            {{i | safe}}
            {% endfor %}
        </table>

        Average Sales (Date) : {{avg_sales_per_day_product}}


</body>
</html>